img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.carrossel{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botao-carrossel{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
}