<h1>Contador {{ contador() }}</h1>

<button (click)="incrementar()">Incrementar</button>
<button (click)="decrementar()">Decrementar</button>

@if( contador() > 10){
  <p>Esse valor é maior que 10</p>
} @else if( contador() < 0){
  <p>Esse valor é maior que 10</p>
}

<h2>Mostrador de Imagem</h2>

<section class="carrossel">
  <button (click)="anterior()" id="botaoAnterior" class="botao-carrossel"><</button>
  
  <img [src]="imagemList()[imagemContador()]" alt="">
  
  <button (click)="proximo()" id="botaoProximo" class="botao-carrossel">></button>
</section>
